:root{
    --primary-color: #03588C;
    --secundary-color: #0BADBF;
    --thirdary-color: #D2D904;
    --forthdary-color: #0E1426;
    --back-color: F5F5F5;
    --header-size: 4rem;
    --font:1.8 rem;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

img {
    justify-content: center;
    padding-top: 2rem;
    max-width: 80%;
    max-height: 80%;
}
body{
    
    background-color:white;
    font-size: 1.6rem;
}
nav{
    background-image: url("Imagenes/bg.jpg");
    height: 8rem;
}
main{
    width: 100vw;
    height: 15vh;
    font-size: 1.8rem;
}