*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.brand a {
    display: inline-block;
    width: 20rem;
    height: 10rem;
    position: relative;
    bottom: -10px;
    padding-left: 4rem;
}
nav{
    background-image: url("Imagenes/bg.jpg");
}
body{
    
    background-color:white;
    font-size: 1.6rem;
}
p{
    color: blue;
    font-family: 'Lucida Sans';
    font-variant: inherit;
}

.main-nav__item{
    display:inline-block;
    position: flex;
    justify-content: flex-end;
    padding-left: 10rem;
    bottom: 10rem;

}
.main-nav__item a{
    color: white;
    background-color: #0e5fa4;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
}
.form {
    border-radius: 0.5rem;
    display: inline-block;
    background-color: blue;
    position: relative;
    bottom: 5px;
}
.parent{
    display: inline-block;
}
.box {
    display: inline-block;
    border: 0.1rem solid black;
    border-radius: 4px;
    width: 40rem;
    height: 25rem;
    font-display:unset;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
}

.footer {
    height:50px;
    display: inline-block;
  line-height:50px;
  color:black;
  text-align:center;
  font-size: 15px;
  margin-bottom: -180px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding-left: 50px;
  padding-right: 30px;
}
