:root{
    --primary-color: #03588C;
    --secundary-color: #0BADBF;
    --thirdary-color: #D2D904;
    --forthdary-color: #0E1426;
    --header-size: 4rem;
    --font:1.8 rem;
}
.intro{
    padding: 1rem;
    display: grid;
    place-items: center;
    text-align: center;

}
.brand a {
    display: inline-block;
    width: 20rem;
    height: 10rem;
    position: relative;
    bottom: -10px;
    padding-left: 4rem;
}
.main-nav {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
}
.main-nav__item{
    display:inline-block;
    position: relative;
    right: 10px;
    bottom: 80px;
    padding: .5rem;
}
.main-nav__item a{
    
    color: white;
    background-color: #0e5fa4;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}

.parent{
    display: inline-block;
}
.box {
    display: inline-block;
    border: 0.1rem solid var(--forthdary-color);
    border-radius: 4px;
    width: 40rem;
    height: 25rem;
    font-display:unset;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
}

.crew{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    width: 300px;
    border: 0.1rem solid var(--forthdary-color);
    gap: 16px
}
.crew h3{

}
.footer {
    background-color: var(--primary-color);
    width: 100vw;
    height: 15vh;
    display: inline-block;
  line-height:50px;
  color:black;
  text-align:center;
  font-size: 15px;
  margin-bottom: -270px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding-left: 50px;
  padding-right: 30px;
}


